{% extends 'layout_main.html' %}
{% block header %}
	<script src="/public/js/game_engine.js"></script>
	<div class="container header_panel">
		<div class="row">
			<div class="col-md-2">
				New game
			</div>
			<div class="col-md-2">
				Save game
			</div>
			<div class="col-md-2">
				<a href="/signin">Sign in</a>
			</div>
			<div class="col-md-2">
				<a href="/signup">Sign up</a>
			</div>
			<div class="col-md-2">
				<a href="/logout">Log out</a>
			</div>
		</div>
	</div>
{% endblock %}