{% extends 'header.html' %}

{% block title %}Sign up page{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
	<form action="/api/user/register" method="post">
		<div class="container">
			<div class="row">
				<div class="col-md-2">
					<p>Username:</p>
					<input name="username"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>Email:</p>
					<input name="email"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<p>Password:</p>
					<input type="password" name="pwd"></input>
				</div>
			</div>
			<div class="row">
				<div class="col-md-2">
					<input type="submit" value="submit">Register</button>
				</div>
			</div>
		</div>
	</form>
{% endblock %}