{% extends 'header.html' %}

{% block title %}Sign up page{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
	<div class="signupContainer">
		<div class="initRegister"></div>
		<div class="errorMessage">
			<div class="container">
				<div class="row">
					<div class="col-md-4">
						Unable to create user
					</div>			
				</div>
			</div>
		</div>
		<form action="/api/user/register" method="post" id="register">
			<div class="container">
				<div class="row">
					<div class="col-md-2">
						<p>Username:</p>
						<input name="username"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<p>Email:</p>
						<input name="email"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<p>Password:</p>
						<input type="password" name="pwd"></input>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						<input id="registersubmit" type="submit" value="submit">Register</button>
					</div>
				</div>
			</div>
		</form>
	</div>
{% endblock %}