{% extends '../header.html' %}

{% block title %}My Page{% endblock %}

{% block head %}
  {% parent %}
{% endblock %}

{% block content %}
	<div class="row">
			<div class="col-md-2">
				<div class="row">
					<div class="col-md-3 col-md-offset-4">
						<i class="fa fa-arrow-up map_move" id="up"></i>
					</div>
					<div class="col-md-1">
						<i class="fa fa-plus" id="map_zoomin"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-2 col-md-offset-3">
						<i class="fa fa-arrow-left map_move" id="left"></i>
					</div>
					<div class="col-md-2">
						<i class="fa fa-arrow-right map_move" id="right"></i>
					</div>
					<div class="col-md-1">
						<i class="fa fa-minus" id="map_zoomout"></i>
					</div>
				</div>
				<div class="row">
					<div class="col-md-6 col-md-offset-4">
						<i class="fa fa-arrow-down map_move" id="down"></i>
					</div>
				</div>
			</div>
		<div class="col-md-10">
			<canvas class="initStarmap" id="mainarea" width="1000" height="500"></canvas>
		</div>
	</div>
{% endblock %}